@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); /* linking fonts to our document */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
}

header .icon {
    width: 32px;
    height: 32px;
    margin-right: auto;
    cursor: pointer;
}